body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
    color: #333;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    border: 2px solid #ff0000;
    flex-grow: 1;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff0000;
}

.disciplina {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.disciplina-nome, .disciplina-nota {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 45%;
}

button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #b30000;
}

.remover-disciplina {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.remover-disciplina:hover {
    background-color: #b30000;
}

#resultados {
    margin-top: 20px;
    font-size: 1.1em;
}

#resultados p {
    margin-bottom: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ff0000; 
    color: #ffffff; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.logo-container {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    text-decoration: none; 
    color: aliceblue;
}

.logo-container .logo-container-a{
    text-align: center;
    text-decoration: none; 
    color: aliceblue;
}


.navbar {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #ffffff; 
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #ff0000; 
    color: #ffffff; 
    text-align: center;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 1000; 
}

footer a {
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
    img, picture, video {
        max-width: 100%;
    }
    
}

@media (max-width: 768px) {
    .disciplina {
        flex-direction: column;
    }
    .disciplina-nome, .disciplina-nota {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .navbar li {
        display: block;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    button, .remover-disciplina {
        padding: 5px 10px;
    }
}
